
<head><h2>Current User: </h2>
<% if user_signed_in? %>
  Email: <%= current_user.email %>
  Username: <%= current_user.username %>
  Firstname: <%= current_user.firstname %>
</head>
<body>
  emails: 
  <% if @emails.nil? %>
    "No emails!"
  <% else %>
    <% if @emails.count == 1 %>
      <%= @emails.data %>
    <% else %>
      <% @emails.each do |e| %>
        <p>Email from:<%=e.from_user%><br><%= e.data %></p>
      <% end %>
    <% end %>
  <% end %>

<% end %>
</body>