<script language="Javascript" src="https://salty-depths-8905.herokuapp.com/rsa.js" type="text/javascript"></script>
<script language="Javascript" src="https://salty-depths-8905.herokuapp.com/aes-enc.js" type="text/javascript"></script>
<script language="Javascript" src="https://salty-depths-8905.herokuapp.com/base64.js" type="text/javascript"></script>
<script language="Javascript" src="https://salty-depths-8905.herokuapp.com/mouse.js" type="text/javascript"></script>
<script language="Javascript" src="https://salty-depths-8905.herokuapp.com/PGencode.js" type="text/javascript"></script>
<script language="Javascript" src="https://salty-depths-8905.herokuapp.com/sha1.js" type="text/javascript"></script>
<script language="Javascript" src="https://salty-depths-8905.herokuapp.com/PGpubkey.js" type="text/javascript"></script>

<script language="Javascript" type="text/javascript">
  $( document ).ready(function() {
    document.getElementById("new_email").commit.disabled = true;
  });
</script>

<script language="Javascript" type="text/javascript">

    var keytyp;
    var keyid;
    var pubkey;

    function encrypt()
    {    	
    	//Fetch public key from server
	    pubkey = '-----BEGIN PGP PUBLIC KEY BLOCK-----\nVersion: BCPG C# v1.6.1.0\n\nmQENBFZflCQBCACaDficvmrymWpi4UJDXsxapXxE0kezoXCNnJ56LbTxyjYq6oQX\nCoZV/NOW3eD16PESriESzHIM/1cEEv8qNBfudZSsPXBYz4VmjEe09uWChqdisW1W\n4xktri3czmw3Ee9B2yoru7r70xSSDR7YuoJEGd3H3nObeF4iloNsUIeXmTowFOzI\nDZEz0ZH4cvauzqZusyUudPgWdsamTicwSEcJHLeOKD+71BvN9cO0hTBPME2dC08x\nNAfW7+jkQWCgFT1RZNmhd+q22KHmh7G9l5wjWst9KGlnfoRAbxpwGL3hoxWmSG7i\n26mRA0mJpZdIM4BblL4hKbyeajWLe0fTOj3nABEBAAG0JXVzZXIxQHNhbHR5LWRl\ncHRocy04OTA1Lmhlcm9rdWFwcC5jb22JARwEEAECAAYFAlZflCQACgkQmXC1N2PO\n8C5Qjwf6AjHpBbbthvPYULGtzZ1k1V5rlgwMszMS7w5XFnvV6Nnw7wmvrz7TCSv/\nBjrhVexGAFysY/fWNCv2bD2SghuMx/2inv33i5ZBdISZfUL1a1m5UiXO5Zxby1kZ\ncTIHKGnOBEAIExEcPJohWcDvcEl9T6EHvhFHHTxMEmJSDh2gVOX07keemfGD1DBw\nO2TLprEMpzm9D5nr4u4xyqaqheVfTyg55xvOSvsh8+WjVKhNwx6ApiPmvf6s4qwA\nSK5p0nwI54VxC8ZfNs7YtH1CP54GZWVXHZhGg33ay0LNSB0F39y2IsKN79gRjOqm\nhj9vHso+wu1aO5I90QDGJqztCMUxEA==\n=wYm1\n-----END PGP PUBLIC KEY BLOCK-----';

	    var pu=new getPublicKey(pubkey);

	    keyid = pu.keyid;
	    keytyp = 0;

	    pubkey = pu.pkey.replace(/\n/g,'');

	    var text=document.getElementById('new_email').email_data.value+'\r\n';

	    document.getElementById('new_email').email_data.value = doEncrypt(keyid, keytyp, pubkey, text);

	    document.getElementById("new_email").commit.disabled = false;
	    document.getElementById("encrypt").disabled = true;

      $('#email_data').prop("disabled", true);
    }
</script>


<%= form_for @email, url: { action: "create" } do |f| %>

  <div class="field">
    <%= f.label "To (username)" %><br />
    <%= f.text_field :to_user %>
  </div>

  <div class="field">
    <%= f.label "Message" %><br />
    <%= f.text_area :data,  size: "50x10" %>
  </div>
  <%= f.submit "Send" %>

<% end %>

<button onClick="javascript:encrypt();" id="encrypt">Encrypt</button>